@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap';


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


:root {
  --light-blue: 172 207 229;      /* #accfe5 */
  --beige: 240 231 208;           /* #f0e7d0 */
  --golden-yellow: 218 156 68;    /* #da9c44 */
  --orange: 217 96 0;             /* #d96000 */
  --dark-green: 44 64 24;         /* #2c4018 */
}

.popup-content {
  width: 90%;
}

@media screen and (max-width: 1150px) {
  .popup-content {
    width: 90%;
  }
}


.checkpoint:nth-child(odd) {
  border-left: 3px solid #888;
  padding-left: 3em;
  transform: translateX(17em);
}

.checkpoint:nth-child(even) {
  border-left: 3px solid #888;
  padding-left: 3em;
  transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
  content: '';
  background: #888;
  width: 3em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
  left: 0;
}

.checkpoint:nth-child(even)::before {
  right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
  content: '';
  background: #fff;
  box-shadow: 0 0 0.5em #0d71fc;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
  left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
  right: -0.5em;
}

@media screen and (max-width: 1150px) {
  .timeline {
    width: 80vw;
  }
  .timeline .checkpoint {
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
  .timeline .checkpoint::before {
    width: 3px;
    height: 4em;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline .checkpoint div::before {
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
  }
}